{% extends 'basic_app/basic_app_base.html' %}

{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to School Detail Page</h1>
    <h2>School Detail</h2>
    <p>
        {{ school_detail }}
    </p>
    <p>
        Principal: {{ school_detail.principal }}
    </p>
    <p>Location: {{ school_detail.location }}</p>
</div>

{% for j in school_detail.students.all %}

<p>{{ j.name }} {{ j.age }} {{ j.school }}</p>
{% endfor %}

<div class="container-fluid">
{% comment %} the pk=school_detail.pk links the update to the current school that we intend to change {% endcomment %}
<p><a class='btn btn-warning' href="{% url 'basic_app:update' pk=school_detail.pk %}">Update</a></p></div>

{% endblock %}